body{
    background-color:#FCFCFC;
    margin: 0;
}
.homepage{
    width: 80%;   
    margin: auto;
    background-color: rgb(247, 247, 247); 
}
/* Footer section Dashboard */
.foot_bar{
    width: 95%;
    margin: auto;
    padding: 2%;
    border-top: 1px solid lightgrey;
    
}

.row{
   display: flex;
   justify-content: space-between;
    color: rgb(155, 153, 153);
}
.foot_bar > img {
    float: left;
    padding:2px  20px;
    cursor: pointer;
 }
 .box-1{
     width: 18%;
 }
 .box-1  > small {
     font-size: x-small;
 }

 .content__heading{
    font-size:22px;
    margin: -30px 60px 0px;
    font-style:normal;

    
 }
 .content__footer{
     font-size:15px;
     margin: -20px -40px 1px;
     text-align: left;
     color: rgb(99, 99, 99);
 }
 .content__footer :hover {
    opacity: 10;
    visibility: visible;
    left: 0;
    color: rgb(0, 153, 255);

 }
 /*  */
 .dashboard-container{
     width: 100%;
     display: flex;
     justify-content: space-between;
 }

 /* Middle Left Section dashboard */
 .middle__left{
     width: 200px;
}
 .left__block{
display:inline-block;
margin: -10px 10px 1px; 
padding: 1px;
font-weight: bold;   
color: rgb(99, 99, 99);
font-size: 14px;

}
.bottom-line{
    border-bottom: 1px solid lightgrey;
    display: flex;
    width: 200px;
    
}

.left__block :hover {
    opacity: 10;
    visibility: visible;
    left: 0;
    color: rgb(0, 153, 255);

 }

 /* middle__right__container */
 .middle__right{
     width: 200px;
 }
   

.username-div{
    display: flex;
    justify-content: flex-end;
    width: 98%;
    margin-top: 8px;
}

#username-select{
    color: #888888;
    background-color: #f0ecec;
    border: none;
    outline: none;
}
#username-select:hover{
    background-color:#cccccc;
}
.fa-bell,.fa-users{
    color:#cccccc;
    margin-left: 15px;
}
.fa-user{
    color: #28B6E3;
    margin-left: 30px;
    /* width: fit-content;
    height: fit-content; */
    background-color: #BABAC8;
}
.fa-bell:hover,.fa-users:hover{
    color: #28B6E3;
}
.navbar-container{
    width: 100%;
    height: 60px;
    border-radius: 5px;
}
.logo-jefit{
    width: 100px;
    height: 30px; 
    float: left;
}
.navbar {
    overflow: hidden;
    background-color: white;
    color:#cccccc;
    margin-top: 5px;
}
.float-right{
    float: right;
}
.navbar a {
  display: block;
  color: #A87F7F;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  
}

.navbar a:hover {
    color: #28B6E3;
    line-height: 20px;
    border-bottom: 2px solid #28B6E3; 
    
}

.navbar .remove-underline:hover{
    border-bottom: none;
}
/* .navbar a.active {
  width: 100px;
  height: 30px;
  border-bottom: none;
} */
.get-jefit-btn{
    background-color: #28B6E3;
    color: white;
    font-size: 14px;
    padding: 7px 10px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    display: block;
    margin-top: 5px;
    outline: none;
    float: right;
    margin-bottom: 20px;
}
.get-jefit-btn:hover{
    background-color: #BABAC8;
    color: black;
}
.navbar .icon {
  display: none;
  
}
.fa-bars{
    color: #cccccc;
    font-size: 20px;
}
.dashboard-container{
    width: 100%;
    margin-top: 30px;
}
.dashboard-container-left{
    width: 200px;
    height: 400px;
    float: left;
    background-color: rgb(109, 109, 173);
}
.dashboard-container-middle{
    width: 65%;
    float: left;
    margin-left:20px;
    padding:0%;
}
.user-details{
    color: #888888;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    padding: 0;
}
.user-details-link{
    color:#28B6E3;
    text-decoration: none;
}
.user-details-data{    
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.user-info{
    width: 200px;
    display: flex;
    justify-content: baseline;
}
.user-details-location{
    text-decoration: none;
    margin-left: 0;
    color:#888888;
    float: left;
}
.user-details-location:hover{
    color:#28B6E3;
    text-decoration: underline;
}
.fa-globe{
    margin-left:10px;
    margin-right: 5px;
}
[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display:block;
  }
  .tabs {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid lightgray;
  }
  
  .tab {
    cursor: pointer;
    padding: 8px;
  }
  /* 
  .tab.active {
    
  } */
  
  .tab:hover {
      color:#28B6E3;
    border: 1px solid lightgray;
    border-top-left-radius:3px ;
    border-top-right-radius: 3px;
  }
  
  .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  }
  .middle-dashboard{
    margin-top: 10px;
  }
  .hometab{
    
    height: 60px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
  }
  #home{
    margin-left: 30px;
  }
  
  #home P{
    margin-top: 5px;
  }
  .hometab > .status-btn{
  width: 50px;
  height: 45px;
  background-color: white;
  color:#28B6E3;
  border: 1px solid #28B6E3;
  border-radius: 5px;
}
.hometab input{
  height: 25px;
  width: 85%;
  margin:15px 10px;
}
.logWorkBtn,.bodystats,.progresspic{
  width: 160px;
  height: 45px;
  background-color: white;
  border: 1px solid lightgray;
  outline: none;
}
cred{
  color: red;
}
cblue{
  color: blue;
}
cgreen{
  color: green;
}
.logWorkBtn:hover{
  background-color:#888888;
}
.bodystats:hover{
  background-color:#888888;
}
.progresspic:hover{
  background-color:#888888;
}
.para-info{
  width: 98%;
  height: 100px;
  background-color: #D9EDF7;
  margin: 5px auto;
  
}
.para-info p{
  margin: 10px;
  margin-top: 10px;
}
.here{
  text-decoration: none;
  color: #31709C;
}
.bottom-line{
  border-bottom: 1px solid lightgray;
  width: 100%;
  height: 1px;
}
.no-margin{
  margin-bottom: 0%;
}
.hometab_margin-left{
  margin-left: 15px;
}
.textlabel{
  margin-top: 0;
  font-size: 16 px;
}
.bottom-label{
  text-decoration: none;
  color: #28B6E3;;
}
@media screen and (max-width: 1150px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar button{display: none;}
  .navbar a.icon {
    float: right;
    display: block;
    border: 0.5px solid #cccccc;
    border-radius: 3px;
  }
}

@media screen and (max-width: 1150px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
